In [42]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from data_cleaning import clean_data

### In this project, 3 different datasets will be merge them together.

In [43]:
data1 = pd.read_csv('data/mail_data.csv')
data1.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [44]:
data2 = pd.read_csv('data/spam_dataset.csv')
data2.head()

                                     message_content  is_spam
0  Hello Lonnie,\r\n\r\nJust wanted to touch base...        0
1  Congratulations, you've won a prize! Call us n...        1
2  You have been pre-approved for a credit card w...        1
3  Limited time offer, act now! Only a few spots ...        1
4  Your loan has been approved! Transfer funds to...        1

In [45]:
data2.is_spam.replace({1:'spam',
                       0:'ham'},
                       inplace = True)

C:\Users\OLU-JUNAID & CO\AppData\Local\Temp\ipykernel_10160\3289557294.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2.is_spam.replace({1:'spam',

In [46]:
data2.columns = ['Message','Category']

In [47]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Message   1000 non-null   object
 1   Category  1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [48]:
data2.head(1)

                                             Message Category
0  Hello Lonnie,\r\n\r\nJust wanted to touch base...      ham

In [49]:
data2 = data2.loc[:,['Category','Message']]
data2.head(1)

  Category                                            Message
0      ham  Hello Lonnie,\r\n\r\nJust wanted to touch base...

In [50]:
data3 = pd.read_csv('data/email_classification.csv')
data3.head(1)

                                               email label
0  Upgrade to our premium plan for exclusive acce...   ham

In [51]:
data3.columns = ['Message','Category']
data3.head(1)

                                             Message Category
0  Upgrade to our premium plan for exclusive acce...      ham

In [52]:
data3 = data3.loc[:,['Category','Message']]
data3.head(1)

  Category                                            Message
0      ham  Upgrade to our premium plan for exclusive acce...

#### Joining the 3 datasets

In [53]:
data = pd.concat([data1,data2,data3],
axis=0)

In [54]:
data.head(2)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...

In [55]:
data.Category.value_counts()

Category
ham     5425
spam    1326
Name: count, dtype: int64

In [56]:
1326/(1326+5425)

0.19641534587468523

In [57]:
data.Category.replace({'ham':0,
                       'spam':1},
                       inplace = True)

C:\Users\OLU-JUNAID & CO\AppData\Local\Temp\ipykernel_10160\158692909.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Category.replace({'ham':0,
C:\Users\OLU-JUNAID & CO\AppData\Local\Temp\ipykernel_10160\158692909.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.Category.replace({'ham':0,

In [58]:
data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [59]:
data = clean_data(data)
data

     Category                                            Message
0           0  Go until jurong point, crazy.. Available only ...
1           0                      Ok lar... Joking wif u oni...
2           1  Free entry in 2 a wkly comp to win FA Cup fina...
3           0  U dun say so early hor... U c already then say...
4           0  Nah I don't think he goes to usf, he lives aro...
..        ...                                                ...
174         0  We're pleased to inform you that your refund h...
175         1  Get rich quick! Invest in our revolutionary ne...
176         0  Your free trial period is ending soon. Upgrade...
177         0  Your order is on its way! Track your shipment ...
178         1  Limited-time offer! Get 50% off on all purchas...

[6751 rows x 2 columns]

In [60]:
data = data.reset_index()

In [61]:
data

      index  Category                                            Message
0         0         0  Go until jurong point, crazy.. Available only ...
1         1         0                      Ok lar... Joking wif u oni...
2         2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         3         0  U dun say so early hor... U c already then say...
4         4         0  Nah I don't think he goes to usf, he lives aro...
...     ...       ...                                                ...
6746    174         0  We're pleased to inform you that your refund h...
6747    175         1  Get rich quick! Invest in our revolutionary ne...
6748    176         0  Your free trial period is ending soon. Upgrade...
6749    177         0  Your order is on its way! Track your shipment ...
6750    178         1  Limited-time offer! Get 50% off on all purchas...

[6751 rows x 3 columns]

In [62]:
data

      index  Category                                            Message
0         0         0  Go until jurong point, crazy.. Available only ...
1         1         0                      Ok lar... Joking wif u oni...
2         2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         3         0  U dun say so early hor... U c already then say...
4         4         0  Nah I don't think he goes to usf, he lives aro...
...     ...       ...                                                ...
6746    174         0  We're pleased to inform you that your refund h...
6747    175         1  Get rich quick! Invest in our revolutionary ne...
6748    176         0  Your free trial period is ending soon. Upgrade...
6749    177         0  Your order is on its way! Track your shipment ...
6750    178         1  Limited-time offer! Get 50% off on all purchas...

[6751 rows x 3 columns]

In [63]:
data.drop('index',axis=1,inplace = True)

##### Separating the data into x and y

In [64]:
x = data.Message
y = data.Category

In [65]:
x.head(1)

0    Go until jurong point, crazy.. Available only ...
Name: Message, dtype: object

In [66]:
#vectorization is the process of converting the text data into tokens
vectorizer = CountVectorizer()
x = vectorizer.fit_transform(x)

In [67]:
feature_names = vectorizer.get_feature_names_out()
print("Features:\n", feature_names)

Features:
 ['00' '000' '000pes' ... 'èn' 'ú1' '〨ud']

In [68]:
import pickle

pickle.dump(vectorizer,open('vect.pkl','wb'))

In [69]:
np.random.seed(42)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [70]:
x_train.shape,x_test.shape,y_test.shape,y_train.shape

((5400, 9537), (1351, 9537), (1351,), (5400,))

In [71]:
model = MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [72]:
model.score(x_test,y_test)

0.9785344189489267

In [73]:
pickle.dump(model,open('model.pkl','wb'))

In [74]:
from sklearn.metrics import classification_report
y_pred = model.predict(x_test)

In [75]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      1095
           1       0.92      0.97      0.94       256

    accuracy                           0.98      1351
   macro avg       0.96      0.98      0.97      1351
weighted avg       0.98      0.98      0.98      1351